USE [BibliotecaDB]
GO
/****** Object:  Table [dbo].[Lectores]    Script Date: 28/01/2026 20:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[dni] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 28/01/2026 20:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[codigo] [varchar](10) NOT NULL,
	[titulo] [varchar](100) NULL,
	[autor] [varchar](100) NULL,
	[disponible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 28/01/2026 20:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_libro] [varchar](10) NULL,
	[id_usuario] [int] NULL,
	[fecha] [date] NULL,
	[devuelto] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosSistema]    Script Date: 28/01/2026 20:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosSistema](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NULL,
	[password] [varchar](100) NULL,
	[rol] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lectores] ON 

INSERT [dbo].[Lectores] ([id], [nombre], [dni]) VALUES (1, N'Carlitos', N'72790657')
SET IDENTITY_INSERT [dbo].[Lectores] OFF
GO
INSERT [dbo].[Libros] ([codigo], [titulo], [autor], [disponible]) VALUES (N'LIB-0001', N'Libro de Prueba 1', N'Autor 1', 1)
INSERT [dbo].[Libros] ([codigo], [titulo], [autor], [disponible]) VALUES (N'LIB-0002', N'Libro de Prueba 2', N'Autor 2', 1)
INSERT [dbo].[Libros] ([codigo], [titulo], [autor], [disponible]) VALUES (N'LIB-0003', N'Libro de Prueba 3', N'Autor 3', 1)
GO
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([id], [id_libro], [id_usuario], [fecha], [devuelto]) VALUES (1, N'LIB-0002', 1, CAST(N'2026-01-28' AS Date), 1)
INSERT [dbo].[Prestamos] ([id], [id_libro], [id_usuario], [fecha], [devuelto]) VALUES (2, N'LIB-0002', 1, CAST(N'2026-01-28' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosSistema] ON 

INSERT [dbo].[UsuariosSistema] ([id], [usuario], [password], [rol]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'admin')
INSERT [dbo].[UsuariosSistema] ([id], [usuario], [password], [rol]) VALUES (4, N'Clear', N'c6e6ce4de372150227fcdc62bffc2672995128f0d34fcb28cddd3823a047c15c', N'bibliotecario')
INSERT [dbo].[UsuariosSistema] ([id], [usuario], [password], [rol]) VALUES (7, N'Jose', N'5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5', N'bibliotecario')
SET IDENTITY_INSERT [dbo].[UsuariosSistema] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lectores__D87608A7E666871B]    Script Date: 28/01/2026 20:43:14 ******/
ALTER TABLE [dbo].[Lectores] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__9AFF8FC693B50252]    Script Date: 28/01/2026 20:43:14 ******/
ALTER TABLE [dbo].[UsuariosSistema] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UsuariosSistema] ADD  DEFAULT ('bibliotecario') FOR [rol]
GO
